	*{
		padding: 0;
		margin:0;
	}
	@-webkit-keyframes fanRotate{
		0%{
			-webkit-transform: rotateZ(0deg) translateZ(0px);
			        transform: rotateZ(0deg) translateZ(0px);
		}
		100%{
			-webkit-transform: rotateZ(360deg) translateZ(0px);
			        transform: rotateZ(360deg) translateZ(0px);
		}		
	}

	@keyframes fanRotate{
		0%{
			-webkit-transform: rotateZ(0deg) translateZ(0px);
			        transform: rotateZ(0deg) translateZ(0px);
		}
		100%{
			-webkit-transform: rotateZ(360deg) translateZ(0px);
			        transform: rotateZ(360deg) translateZ(0px);
		}		
	}
	@keyframes fishBody{
		0%{
			transform: rotateY(0deg) scale(1) rotateZ(-45deg) translateZ(0px);
		}
		25%{
			transform: rotateY(-10deg) scale(0.98) rotateZ(-45deg) translateZ(0px);
		}
		50%{
			transform: rotateY(0deg) rotateY(-15deg) scale(1) rotateZ(-45deg) translateZ(0px);
		}
		75%{
			transform: rotateY(10deg) scale(0.98) rotateZ(-45deg) translateZ(0px);			
		}
		100%{
			transform: rotateY(0deg) scale(1) rotateZ(-45deg) translateZ(0px);
		}
	}
	@keyframes fishTail{
		0%{
			transform:rotateY(0deg) rotateZ(-45deg) translateZ(0px);
		}
		25%{
			transform: rotateY(-55deg) rotateZ(-45deg) translateZ(0px);
		}
		50%{
			transform: rotateY(0deg) rotateZ(-45deg) translateZ(0px);
		}
		75%{
			transform: rotateY(55deg) rotateZ(-45deg) translateZ(0px);
		}
		100%{
			transform: rotateY(0deg) rotateZ(-45deg) translateZ(0px);
		}
	}
	
	@keyframes plane{
		0%{
			transform:translate3d(0,0,0px);			
		}
		25%{
			transform:translate3d(0,-10px,0px);			
		}
		50%{
			transform:translate3d(0,0,0px);			
		}
		75%{
			transform:translate3d(0,10px,0px);			
		}
		100%{
			transform:translate3d(0,0,0px);			
		}
	}

	@keyframes train{
		0%{
			background-position: 
								100% 45%,
								101% 100%,
								100% 155%,
								100% 95%,
								100% 25%,
								85% 70%,
								85% 95%,
								84% 84%,
								75% 80%,
								75% 132%,
								74% 80%,
								60% 76%,
								60% 136%,
								0% 115%,
								-40% 115%,
								-40% 145%,
								110% -30%,
								110% -30%,
								110% -30%,
								110% -30%,
								110% -30%;
		}
		100%{			
			background-position: 
								100% 45%,
								101% 100%,
								100% 155%,
								100% 95%,
								100% 25%,
								85% 70%,
								85% 95%,
								84% 84%,
								75% 80%,
								75% 132%,
								74% 80%,
								60% 76%,
								60% 136%,
								0% 115%,
								-40% 115%,
								-40% 145%,						
								-80% -45%,
								-100% -45%,
								-120% -45%,
								-140% -45%,
								-160% -45%;
		}
	}

	@keyframes bus{
		0%{
			transform: translate3d(0,0,0);
			
		}		
		25%{
			transform:translate3d(0,6px,0);
			/*transform: translate3d(0,0.3em,0);	*/
			
		}
		50%{
			transform: translate3d(0,0,0);
		}
		75%{
			transform:translate3d(0,-6px,0);			
			/*transform: translate3d(0,-0.3em,0);*/
		}
		100%{
			transform: translate3d(0,0,0);
		}
	}
	
	@keyframes ship{
		0%{
			background-position: 
				-2.5em 2em,
				-1.5em 2em,
				 -0.5em 2em,
				 0.5em 2em,
				 1.5em 2em,
				 2.5em 2em,
				-2.5em 1.9em,
				-1.5em 1.9em,
				-0.5em 1.9em,
				0.5em 1.9em,
				 1.5em 1.9em,
				2.5em 1.9em,
				-1em -1em,
				-1em -1em,
				-1em -1em,
				-1em -1em,
				-1em -1em,
				-1em -1em,
				-1em -1em,
				-1em -1em,
				0em 0em,
				0em -2.2em,
				0em -2.8em,
				1.79em 0.9em,	
				3.5em 0em,
				0.5em -1.2em,
				-0.5em -1.2em;
		}

		50%{			
			background-position: 
				-2.5em 2em,
				-1.5em 2em,
				 -0.5em 2em,
				 0.5em 2em,
				 1.5em 2em,
				 2.5em 2em,
				-2.5em 1.9em,
				-1.5em 1.9em,
				-0.5em 1.9em,
				0.5em 1.9em,
				 1.5em 1.9em,
				2.5em 1.9em,
				1.5em -1.8em,/**/
				1.7em -1.8em,
				2.0em -1.8em,
				2.3em -1.8em,
				2.5em -1.8em,
				2.9em -1.8em,
				3.2em -1.8em,
				3.5em -1.8em,/**/
				0em 0em,
				0em -2.2em,
				0em -2.8em,
				1.79em 0.9em,	
				3.5em 0em,
				0.5em -1.2em,
				-0.5em -1.2em;
		}
		100%{			
			background-position: 
				-2.5em 2em,
				-1.5em 2em,
				 -0.5em 2em,
				 0.5em 2em,
				 1.5em 2em,
				 2.5em 2em,
				-2.5em 1.9em,
				-1.5em 1.9em,
				-0.5em 1.9em,
				0.5em 1.9em,
				 1.5em 1.9em,
				2.5em 1.9em,
				5em -2.6em,/**/
				5.3em -2.6em,
				6.0em -2.6em,
				6.3em -2.6em,
				6.5em -2.6em,
				6.9em -2.6em,
				7.2em -2.6em,
				7.3em -2.6em,/**/
				0em 0em,
				0em -2.2em,
				0em -2.8em,
				1.79em 0.9em,	
				3.5em 0em,
				0.5em -1.2em,
				-0.5em -1.2em;
		}
	}

	.fan-1{
		position: relative;
		width: 10em;
		height: 10em;
		background: lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;
	}
	.fan-1:before{
		content: '';
		display: block;
		position: absolute;
		left: 2em;
		top: 1.2em;
		width: 6em;
		height: 6em;
		border-radius: 5%;
		background: radial-gradient(#F9671A 0.2em,transparent 0.2em),
					linear-gradient(-135deg,#F9671A 2.12em,transparent 2.12em),
					linear-gradient(135deg,transparent 2.12em,#F9671A 2.12em), 
					linear-gradient(-45deg,transparent 2.12em,#F9671A 2.12em), 					
					linear-gradient(-135deg,transparent 2.12em,#F9671A 2.12em);
		background-position: 50% 50%, 0 0,100% 0,0 100%,100% 100%;
		background-repeat: no-repeat;
		background-size: 3em 3em;
		z-index: 1;
		-webkit-animation: fanRotate 3s  linear infinite;
		        animation: fanRotate 3s  linear infinite;
	}
	.fan-1:after{
		content: '';
		display: block;		
		position: absolute;
		bottom: 1em;
		left: 3.5em;
		height: 6em;
		width: 3em;
		background-image:-webkit-gradient(linear, left bottom, left top, color-stop(10%, transparent), color-stop(1%, lightblue), color-stop(14%, lightblue), color-stop(12%, transparent)),
		-webkit-gradient(linear, left top, right top, from(#eee), to(#eee));
		background-image:linear-gradient(to top, transparent 10%, lightblue 1%, lightblue 14%, transparent 12%),
		linear-gradient(to right, #eee 0%, #eee 100%);;
	}

	.fan-2{
		position: relative;
		width: 10em;
		height: 10em;
		background: lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;
	}
	.fan-2:before{
		content: '';
		display: block;
		position: absolute;
		left: 2.5em;
		top: 1.2em;
		width: 5em;
		height: 5em;
		background-image:
					radial-gradient(#F9671A 0.2em,transparent 0.2em),
					linear-gradient(45deg,transparent 1.77em,#F9671A 1.77em),
					linear-gradient(135deg,transparent 1.77em,#F9671A 1.77em),
					linear-gradient(-45deg,transparent 1.77em,#F9671A 1.77em),					
					linear-gradient(-135deg,transparent 1.77em,#F9671A 1.77em);
		background-position: 50% 50%, 0 0, 100% 0, 0 100%, 100% 100%;
		background-repeat: no-repeat;
		background-size: 2.5em 2.5em;
		z-index: 1;
		-webkit-animation: fanRotate 3s  linear infinite;
		        animation: fanRotate 3s  linear infinite;
	}
	.fan-2:after{
		content: '';
		display: block;		
		position: absolute;
		bottom: 1em;
		left: 3em;
		height: 7em;
		width: 4em;
		overflow: hidden;
		background-image: linear-gradient(0deg,transparent 10%,lightblue 11%,lightblue 14%,transparent 15%),
		linear-gradient(82deg,transparent 39%,#eee 40%,#eee 80%,transparent 81%),
		linear-gradient(98deg,transparent 19%,#eee 20%,#eee 60%,transparent 61%);
		background-repeat: no-repeat;
	}

	.fan-3{
		position: relative;
		width: 10em;
		height: 10em;
		font-family: "Microsoft Yahei";
		background: lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;
	}
	.fan-3:before{
		content: '';
		display: block;
		position: absolute;
		left: 2em;
		top: 1.2em;
		width: 6em;
		height: 6em;
		border-radius: 50%;		
		-webkit-box-shadow: 0 0 0 0.5em #F9671A;
		box-shadow: 0 0 0 0.5em #F9671A;
		background-image: radial-gradient(#F9671A 0.2em,transparent 0.2em),
					linear-gradient(-135deg,#F9671A 2.12em,transparent 2.12em),
					linear-gradient(135deg,transparent 2.12em,#F9671A 2.12em), 
					linear-gradient(-45deg,transparent 2.12em,#F9671A 2.12em), 					
					linear-gradient(-135deg,transparent 2.12em,#F9671A 2.12em);
		background-position: 50% 50%, 0 0,100% 0,0 100%,100% 100%;
		background-repeat: no-repeat;
		background-size: 3em 3em;
		z-index: 1;
		-webkit-animation: fanRotate 3s  linear infinite;
		        animation: fanRotate 3s  linear infinite;
	}
	.fan-3:after{
		content: 'Loading...';
		position: absolute;
		bottom: 0.5em;
		text-align: center;
		width: 100%;
	}


	.fan-4{
		position: relative;
		width: 10em;
		height: 10em;
		font-family: "Microsoft Yahei";
		background: lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;
	}
	.fan-4:before{
		content: '';
		display: block;
		position: absolute;
		left: 1em;
		top: 0.5em;
		width: 8em;
		height: 8em;
		background-image: linear-gradient(0deg,transparent 0.1em,#fff 0.11em,#fff 1em,transparent 1em),
					linear-gradient(90deg,transparent 0.1em,#fff 0.11em,#fff 1em,transparent 1em), 
					linear-gradient(-90deg,transparent 0.1em,#fff 0.11em,#fff 1em,transparent 1em), 					
					linear-gradient(180deg,transparent 0.1em,#fff 0.11em,#fff 1em,transparent 1em);
		background-position: 0 0,100% 0,0 100%,100% 100%;
		background-repeat: no-repeat;
		background-size: 4em 4em;
		z-index: 1;
		-webkit-animation: fanRotate 3s  linear infinite;
		        animation: fanRotate 3s  linear infinite;
	}
	.fan-4:after{
		content: '';
		display: block;		
		position: absolute;
		bottom: 1em;
		left: 3em;
		height: 7em;
		width: 4em;
		background-image: linear-gradient(0deg,transparent 10%,lightblue 11%,lightblue 14%,transparent 15%),
		linear-gradient(82deg,transparent 39%,#333 40%,#333 80%,transparent 81%),
		linear-gradient(98deg,transparent 19%,#333 20%,#333 60%,transparent 61%);
		background-repeat: no-repeat;
	}

	.fish-1{
		position: relative;
		width: 10em;
		height: 10em;
		font-family: "Microsoft Yahei";
		background-color: lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;
		perspective: 0px;
	}
	.fish-1:before{
		content: '';
		display: block;
		position: absolute;
		left: 2.5em;
		top: -0.5em;
		width: 5em;
		height: 5em;
		border-radius: 50% 100% 0% 100%;
		box-shadow: 0 0 0 0.2em #fff;
		transform-origin: 5em 5em;		
		-webkit-transform: rotateZ(-45deg) translateZ(0px);
		-moz-transform: rotateZ(-45deg) translateZ(0px);
		-ms-transform: rotateZ(-45deg) translateZ(0px);
		-o-transform: rotateZ(-45deg) translateZ(0px);
		transform: rotateZ(-45deg) translateZ(0px);
		background-image:  radial-gradient(at 50% 50%, transparent 60%,lightblue 61%),
		radial-gradient(at 40% 40%, transparent 35%,lightblue 36%, lightblue 60%, transparent 60%,#fff 61%),
		radial-gradient(at 30% 30%, transparent 15%,#fff 0%,#fff 60%,transparent 40%);
		background-repeat: no-repeat;
		z-index: 1;
		animation: fishBody 1s linear infinite ;			
	}
	.fish-1:after{
		content: '';
		display: block;		
		position: absolute;
		top: 4.5em;
		left:7.5em;
		width: 1.5em;
		height: 1.5em;
		border-top: 0.2em solid #fff;
		border-left: 0.2em solid #fff;
		transform-origin: 0 0;
		transform: rotateZ(-45deg) translateZ(0px);	
		animation: fishTail 0.5s linear alternate infinite ;		
	}
/*	.fish1:hover:after{
		animation:no;
	}
	.fish1:hover:before{
		animation:no;
	}*/

	.load-circle-1{
		position: relative;
		width: 10em;
		height: 10em;
		font-family: "Microsoft Yahei";
		background-color: lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;
		perspective: 0px;
	}
	.load-circle-1:before{
		content: '';
		position: absolute;
		left: 2em;
		top: 1.5em;
		width: 6em;
		height: 6em;
		border-radius: 50%;
		background-color: #fff;
		background-image: radial-gradient(circle at 50% 50%,lightblue 50%, transparent 51%),
		linear-gradient(90deg, #fff 0%, rgba(60,255,255,0.8) 100%);
		animation: fanRotate 1s linear infinite;
	}
	.load-circle-1:after{
		content: 'Loading...';
		position: absolute;
		bottom: 0.5em;
		width: 100%;
		text-align: center;
	}

	.load-circle-2{
		position: relative;
		width: 10em;
		height: 10em;
		font-family: "Microsoft Yahei";
		background-color: lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;
		perspective: 0px;
	}
	.load-circle-2:before{
		content: '';
		position: absolute;
		left: 2em;
		top: 1.5em;
		width: 6em;
		height: 6em;
		border-radius: 50%;
		background-color: rgba(60,255,255,1);
		box-shadow: 0 0 0 0.5em rgba(60,255,255,1);
		background-image: radial-gradient(circle at 50% 50%,#eee 0%,rgba(60,255,255,1) 39%,lightblue 40%,lightblue 42%, transparent 43%,transparent 68%,lightblue 69%),
		linear-gradient(0deg, lightblue 50% ,transparent 51% ),
		linear-gradient(90deg, lightblue 50% ,transparent 51% ),		
		linear-gradient(90deg, #fff 0%, rgba(60,255,255,0.8) 100%);
		animation: fanRotate 1.5s infinite;
	}
	.load-circle-2:after{
		content: 'Loading...';
		position: absolute;
		bottom: 0.5em;
		width: 100%;
		text-align: center;
	}

	.load-circle-3{
		position: relative;
		width: 10em;
		height: 10em;
		font-family: "Microsoft Yahei";
		background-color: lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;
		perspective: 0px;
	}
	.load-circle-3:before{
		content: '';
		position: absolute;
		left: 2em;
		top: 1.5em;
		width: 6em;
		height: 6em;
		border-radius: 50%;
		background-color: rgba(60,255,255,1);
		background-image: radial-gradient(circle at 50% 50%, lightblue 48%, transparent 51%,transparent 69%,lightblue 70%),
		radial-gradient(circle at 0em 8em, lightblue 49%, transparent 50%),	
		linear-gradient(90deg, lightblue 0%, rgba(255,255,255,1) 100%);
		animation: fanRotate 1s infinite;
	}
	.load-circle-3:after{
		content: 'Loading...';
		position: absolute;
		bottom: 0.5em;
		width: 100%;
		text-align: center;
	}

	.vehicle-1{
		position: relative;
		width: 10em;
		height: 10em;
		font-family: "Microsoft Yahei";
		background-color:lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;
		perspective: 0px;
	}
	.vehicle-1:before{
		content: '';
		position: absolute;
		left: 1em;
		top: 2.5em;
		width: 8em;
		height: 6em;
		background-size: 50% 50%;
		background-repeat: no-repeat;
		background-image: radial-gradient(#fff 30%,transparent 32%),/*头部	*/
		linear-gradient(205deg,lightblue 34% ,transparent 35%),/*机翼左 */		
		linear-gradient(-12deg,transparent 40%, #fff 41%, #fff 51% ,transparent 52%),/*机翼左 */
		linear-gradient(-20deg,transparent 40%, #fff 41%, #fff 49% ,transparent 50%),/*机翼左 */		
		linear-gradient(0deg,lightblue 11%,transparent 12%), /*尾部	*/
		linear-gradient(10deg, transparent 43%, lightblue 44%),	/*尾部	*/
		linear-gradient(302deg, lightblue 45%, #fff 46%, #fff 52%, transparent 53%),/*尾部	*/
		linear-gradient(315deg, lightblue 43%, #fff 44%, #fff 50%, transparent 51%),/*尾部	*/		
		linear-gradient(20deg, transparent 40%, #fff 41%, #fff 56%, transparent 57%),/*机身	*/
		linear-gradient(12deg, transparent 40%, #fff 41%, #fff 56%, transparent 57%),/*机身	*/
		linear-gradient(12deg, transparent 40%, #fff 41%, #fff 56%, transparent 57%),/*机身	*/
		linear-gradient(20deg, lightblue 50%, transparent 51%),/*机翼右 */
		linear-gradient(20deg, lightblue 50%, transparent 51%),	/*机翼右 */
	    linear-gradient(-28deg,transparent 40%, #fff 41%, #fff 47% ,transparent 48%),/*机翼右 */
		linear-gradient(-42deg,transparent 40%, #fff 41%, #fff 46% ,transparent 47%)/*机翼右*/ 	
		;
		background-position: -10% 0% ,100% 0%, 83% 0%, 83% 8%,131% 10%, 90% 0%,124% 0%,124% 0%,51% 15%,35% 23%,63% 30%,93% -24%,6% 62%,46% 26%,16% 39%;
		animation: plane 2s linear infinite;
	}
	.vehicle-1:after{
		content: 'Plane';
		position: absolute;
		bottom: 0.5em;
		width: 100%;
		text-align: center;
	}


	.vehicle-2{
		position: relative;
		width: 10em;
		height: 10em;
		font-family: "Microsoft Yahei";
		background-color: lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;
		perspective: 0px;
	}
	.vehicle-2:before{
		content: '';
		position: absolute;
		left: 1.5em;
		top: 1em;
		width: 7em;
		height: 7em;

		background-repeat: no-repeat;

		background-image: radial-gradient(#fff 55%, lightblue 56%, lightblue 63%, #fff 64%,#fff 69%,lightblue 70%, lightblue 71%, transparent 72%),
		linear-gradient(0deg, #fff 10%,transparent 11%),
		repeating-linear-gradient(90deg,transparent 0% ,transparent 11.111% ,lightblue 11.111%,lightblue 22.222%),
		linear-gradient(90deg, lightblue 1%, #fff 2%, #fff 99% ,lightblue 100%),
		linear-gradient(90deg , transparent 40%, #fff 41%, #fff 60%,transparent 61%),
		linear-gradient(110deg, transparent 18%, #fff 19%),
		linear-gradient(60deg, lightblue 5%,#fff 6%, #fff 7%,lightblue 8%, #fff 9%,#fff 20%,transparent 21%),
		linear-gradient(0deg, transparent 10%,lightblue 11%,lightblue 48%,transparent 49%),
		linear-gradient(15deg, lightblue 5%,#fff 6%, #fff 7%,lightblue 8%, #fff 9%,#fff 20%,transparent 21%),
		linear-gradient(165deg, lightblue 8%, #fff 9%,#fff 30%,transparent 31%),
		linear-gradient(0deg,transparent 10%, lightblue 11%,lightblue 38%,transparent 39%),
		linear-gradient(10deg,lightblue 5%,#fff 6%, #fff 7%,lightblue 8%, #fff 9%,#fff 20%,transparent 21%),		
		linear-gradient(170deg, lightblue 8%, #fff 9%,#fff 25%,transparent 1%),
		linear-gradient(180deg,lightblue 31%,transparent 32%,transparent 51%,lightblue 52%,transparent 53%,transparent 54%,lightblue 55%),
		repeating-linear-gradient(270deg, lightblue 0%,lightblue 1%,#fff 2%,#fff 5%,transparent 5%,transparent 13%,#fff 13%,#fff 18%,transparent 18%,transparent 25%,#fff 25%,#fff 30%),
		linear-gradient(180deg, lightblue 0%,lightblue 1%,#fff 2%,#fff 8%,lightblue 9%,lightblue 16%,#fff 17%,#fff 30%)	,
		radial-gradient(at 50% 50%,#fff 10%,transparent 11%),
		radial-gradient(at 50% 50%,#fff 10%,transparent 11%),
		radial-gradient(at 50% 50%,#fff 10%,transparent 11%),
		radial-gradient(at 50% 50%,#fff 10%,transparent 11%),
		radial-gradient(at 50% 50%,#fff 10%,transparent 11%)

		;
		background-size: 50% 50%;

		background-position: 
							100% 45%,
							101% 100%,
							100% 155%,
							100% 95%,
							100% 25%,
							85% 70%,
							85% 95%,
							84% 84%,
							75% 80%,
							75% 132%,
							74% 80%,
							60% 76%,
							60% 136%,
							0% 115%,
							-40% 115%,
							-40% 145%;

		animation: train 1s  linear infinite;
	}
	.vehicle-2:after{
		content: 'Train';
		position: absolute;
		bottom: 0.5em;
		width: 100%;
		text-align: center;
	}

	.vehicle-3{
		position: relative;
		width: 10em;
		height: 10em;
		font-family: "Microsoft Yahei";
		background-color: lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;
		perspective: 0px;
	}
	.vehicle-3:before{
		content: '';
		position: absolute;
		left: 1.5em;
		top: 2.5em;
		width: 7em;
		height: 6em;
		border: 1px solid lightblue;
		border-radius: 0.5em;
		background-image: radial-gradient(circle at 20% 70%, #fff 10%,lightblue 11%,lightblue 12%,transparent 13%),
		radial-gradient(circle at 80% 70%, #fff 10%,lightblue 11%,lightblue 12%,transparent 13%),
		linear-gradient(0deg, lightblue 30%,transparent 30%,transparent 85%,#fff 85%,#fff 100%),
        linear-gradient(90deg,transparent 40%, lightblue 40%, lightblue 42%, #fff 42%, #fff 60%, lightblue 60%,lightblue 62%, transparent 63%),
		linear-gradient(0deg, transparent 30%,#fff 30%,#fff 50%, transparent 50%),
		linear-gradient(90deg, #fff 10%,transparent 11%, transparent 20%,#fff 21%,#fff 22%,transparent 23%, transparent 32%,#fff 33%,#fff 41%,transparent 41%,transparent 62%,#fff 62%,#fff 67%,transparent 68%, transparent 77%,#fff 77%,#fff 80%,lightblue 81%, lightblue 99%,#fff 99%),
		linear-gradient(0deg, #fff 55%,transparent 55%)
		;

		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: 0 0,0 0,0 0,0 1em,0 0,0 0,0 0;
		animation: bus 1s linear infinite;
	}
	.vehicle-3:after{
		content: 'Bus';
		position: absolute;
		bottom: 0.5em;
		width: 100%;
		text-align: center;
	}
	
	.vehicle-4{
		position: relative;
		width: 10em;
		height: 10em;
		font-family: "Microsoft Yahei";
		background-color: lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;

	}
	.vehicle-4:before{
		content: '';
		position: absolute;
		top: 1.5em;
		left: 1em;
		width: 8em;
		height: 6em;
		background-size: 100% 100%;

		background-image: radial-gradient(circle,lightblue 0.5em,transparent 0.6em) ,
		radial-gradient(circle,lightblue 0.5em,transparent 0.6em) ,
		radial-gradient(circle,lightblue 0.5em,transparent 0.6em)  ,
		radial-gradient(circle,lightblue 0.5em,transparent 0.6em)  ,
		radial-gradient(circle,lightblue 0.5em,transparent 0.6em)  ,
		radial-gradient(circle,lightblue 0.5em,transparent 0.6em)  ,
		radial-gradient(circle,#fff 0.5em,transparent 0.6em) ,
		radial-gradient(circle,#fff 0.5em,transparent 0.6em) ,
		radial-gradient(circle,#fff 0.5em,transparent 0.6em) ,
		radial-gradient(circle,#fff 0.5em,transparent 0.6em) ,
		radial-gradient(circle,#fff 0.5em,transparent 0.6em) ,
		radial-gradient(circle,#fff 0.5em,transparent 0.6em) ,

        radial-gradient(circle,#fff 0.1em,transparent 0.1em) ,/*烟*/
        radial-gradient(circle,#fff 0.12em,transparent 0.1em) ,/*烟*/
        radial-gradient(circle,#fff 0.13em,transparent 0.1em) ,/*烟*/
        radial-gradient(circle,#fff 0.15em,transparent 0.1em) ,/*烟*/ 
        radial-gradient(circle,#fff 0.17em,transparent 0.1em) ,/*烟*/
        radial-gradient(circle,#fff 0.19em,transparent 0.1em) ,/*烟*/
        radial-gradient(circle,#fff 0.21em,transparent 0.1em) ,/*烟*/
        radial-gradient(circle,#fff 0.23em,transparent 0.1em) ,/*烟*/       

		linear-gradient(180deg,lightblue 2.1em,transparent 2.2em) ,
		linear-gradient(90deg,lightblue 1.8em,transparent 1.9em,transparent 6.3em,lightblue 6.3em) ,
		linear-gradient(90deg,lightblue 2.8em,transparent 2.8em,transparent 3.2em,lightblue 3.2em,lightblue 3.6em,transparent 3.7em,transparent 4.1em,lightblue 4.1em,lightblue 4.5em,transparent 4.6em,transparent 5em,lightblue 5em,lightblue 5.4em,transparent 5.5em,transparent 5.9em,lightblue 5.9em,lightblue 6.2em,transparent 6.2em,transparent 6.2em,lightblue 6.2em),
		linear-gradient(110deg,lightblue 1.0em,transparent 1.0em),		
		linear-gradient(180deg,lightblue 2.5em,transparent 2.5em) ,
		linear-gradient(80deg,lightblue 0.8em,#fff 0.85em,#fff 5em,transparent 5.1em),
		linear-gradient(-80deg,lightblue 0.8em,#fff 0.85em,#fff 5em,transparent 5.1em)
		;
		background-repeat: no-repeat;
		transform: scale(1.1);
		animation: ship 2s linear infinite;
	}
	.vehicle-4:after{
		content: 'Ship';
		position: absolute;
		width: 100%;
		text-align: center;
		bottom: 0.5em;
	}

	.envelope{
		position: relative;
		width: 10em;
		height: 10em;
		font-family: "Microsoft Yahei";
		background-color: lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;
		perspective: 0px;
	}
	.envelope:before{
		content: '';
		position: absolute;
		left: 1.5em;
		top: 1.5em;
		width: 7em;
		height: 6em;
		border-radius: 0.8em;
		background-image: linear-gradient(35deg, #fff 50%,transparent 51%,transparent 53%,#fff 54%),
		linear-gradient(-35deg,#fff -1%, #fff 50%,transparent 51%,transparent 53%,#fff 54%);
		background-size: 3.50em 100%;
		background-repeat: no-repeat;
		background-position: 0.03em 0,3.47em 0;
		animation: bus 1s linear infinite;
		filter: drop-shadow(0px 0px 10px #09f);
	}
	.envelope:after{
		content: 'Email';
		position: absolute;
		bottom: 0.5em;
		width: 100%;
		text-align: center;
	}

	.garbage-can-1{
		position: relative;
		width: 10em;
		height: 10em;
		font-family: "Microsoft Yahei";
		background-color: lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;
		perspective: 0px;
	}
	.garbage-can-1:before{
		content: '';
		position: absolute;
		left: 3em;
		top: 1.5em;
		width: 4em;
		height: 6em;
		background: linear-gradient(90deg,transparent 20%,#fff 20%,#fff 30%,transparent 30%,transparent 40%,#fff 40%,#fff 50%,transparent 50%,transparent 60%,#fff 60%,#fff 70%,transparent 70%,transparent 80%,#fff 80%,#fff 90%,transparent 90%),
		linear-gradient(90deg,transparent 20%,#fff 20%,#fff 30%,transparent 30%,transparent 40%,#fff 40%,#fff 50%,transparent 50%,transparent 60%,#fff 60%,#fff 70%,transparent 70%,transparent 80%,#fff 80%,#fff 90%,transparent 90%),
		linear-gradient(90deg,#fff 10%,transparent 11%,transparent 90%,#fff 90%),
		linear-gradient(90deg,#fff 10%,transparent 11%,transparent 90%,#fff 90%),		
		linear-gradient(0deg,#fff 12%,transparent 12%),
		linear-gradient(180deg,#fff 12%,transparent 12%),
		linear-gradient(180deg,#fff 20%,transparent 10%),
		linear-gradient(90deg, transparent 40%,#fff 40%,#fff 60%,transparent 60%);
		background-size: 100% 50%;
		background-repeat: no-repeat;
		background-position: -0.2em 2.2em, -0.2em 2.2em, 0 95%,0 50%, 0 95%, 0 50%, 0 20%,0 -60%;
		filter: drop-shadow(0px 0px 10px #89f);
		animation: bus 1s linear infinite;
	}
	.garbage-can-1:after{
		content: 'Garbage Can';
		position: absolute;
		bottom: 0.5em;
		width: 100%;
		text-align: center;
	}

	.garbage-can-2{
		position: relative;
		width: 10em;
		height: 10em;
		font-family: "Microsoft Yahei";
		background-color: lightblue;
		border-radius: 1em;
		-webkit-box-shadow: 0px 0px 1em #fff inset;
		box-shadow: 0px 0px 1em #fff inset;
		perspective: 0px;
	}
	.garbage-can-2:before{
		content: '';
		position: absolute;
		left: 3em;
		top: 1em;
		width: 4em;
		height: 6em;
		/*border: 1px solid;*/
		background: linear-gradient(90deg,#fff 20%,transparent 21%,transparent 79%,#fff 80%),
		linear-gradient(0deg,#fff 100%,transparent 100%),
		linear-gradient(90deg,transparent 29%,#fff 30%,#fff 70%,transparent 71%),
		linear-gradient(180deg,#fff 20%,transparent 21%);
		background-size: 100% 50%;
		background-repeat: no-repeat;
		background-position:0 100%,0 70%, 0 180%,0 40%;
		filter: drop-shadow(0px 0px 10px #89f);
		animation: bus 1s linear infinite;		
	}
	.garbage-can-2:after{
		content: 'Garbage Can';
		position: absolute;
		bottom: 0.5em;
		width: 100%;
		text-align: center;
	}


	